
body {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    background-image: url(https://img.freepik.com/free-photo/workspace-with-office-supplies-top-view_144627-32586.jpg?w=740&t=st=1667361010~exp=1667361610~hmac=9781672ca541dfdcb2cdc2d9343169862854fe7eb9a248f98b611660aeb2ade8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(18, 21, 24);
    padding: 40px;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: fit-content;
}

#top {
    display: flex;
    gap: 10px;
    width: 210px;
}

#top button {
    width: 100%;
}

.display {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    width: 100%;
    font-size: 25px;
    text-align: right;
}

button {
    background-color: lavender;
    font-size: 20px;
}
button:hover {
    background-color: rgba(230, 230, 250, 0.7);
}


.numbers div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
.numbers button {
    width: 45px;
}

#equals {
    width: 210px;
}
#equals:hover {
    background-color: rgba(30, 143, 255, 0.6);
}